.hero {
  background-color: $wh;
  padding-bottom: 150px;
  &__mouse {
    cursor: pointer;
  }
  &__price {
    font-size: 20px;
    font-weight: bold;
    line-height: 50px;
    padding-bottom: 15px;
  }
  & .title {
    text-align: right;
    margin-bottom: 35px;
  }
  &__span {
    font-size: 16px;
    color: $grey;
    padding-bottom: 40px;
    text-align: right;
  }
  &__chair {
    padding-top: 30px;
  }
  &__box {
    @include flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin-top: 90px;
    height: 100%;
  }
  &__wrap {
    position: relative;
    margin-right: auto;
    background-color: #B1DFDD;
    height: 685px;
    width: 704px;
    border-radius: 50%;
    margin-bottom: 60px;
    & .title {
      position: absolute;
      z-index: 10;
      text-align: right;
      left: -25%;
      top: 31%;
    }
    & img {
      max-width: 100%;
      height: auto;
      position: absolute;
      bottom: 0;
      right: 74px;
    }
    & .hero__box {
      display: none;
    }
  }

  &__txt {
    & li {
      display: inline-block;
      margin-left: 20px;
      &:first-child {
        margin-right: 0;
      }
    }
  }
}

.title {
  font-size: 60px;
  line-height: 60px;
  letter-spacing: 5px;
  font-weight: bold;
}
.error {
  color: $wh;
}
.btn {
  background-color: $red;
  cursor: pointer;
  border-radius: 21px;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  color: $wh;
  padding: 11px 24px 14px 31px;
  height: 41px;
  width: 148px;
  border: 0;
  & i {
    padding-left: 12px;
    vertical-align: middle;
    font-weight: bold;
  }
}

.bas {
  background-color: $bgrey;
  padding: 150px 0;
  & .mycol {
    padding: 0px 75px;
  }
  &_sec {
    & .bas__item {
      margin-bottom: 20px;
    }
    & .text-col {
      margin-left: 0;
      margin-right: 5%;
    }
    & .img-col {
      margin-right: 5%;
    }
  }
  & .box {
    text-align: right;
  }
  & .btn {
    margin-top: 25px;
    text-align: center;
    & i {
      margin-right: 13px;
      padding-left: 0;
    }
  }
  & img {
    text-align: center;
  }
  & .container-fluid {
    padding-right: 0;
  }
  & .title {
    padding-bottom: 25px;
  }
  & .title, & p {
    text-align: right;
  }
  & p {
    text-align: justify;
    line-height: 25px;
  }
  &__item {
    margin-bottom: 40px;
  }
  &__link {
    font-size: 14px;
    font-weight: bold;
    color: $grey;
    width: 100%;
    display: block;
    position: relative;
    text-align: left;
    &:hover {
      color: $bl;
      &::after {
        content: '';
        position: absolute;
        right: 0;
        width: 30%;
        top: 50%;
        height: 1px;
        background-color: #000000;
      }
    }
  }
  & .mycontainer-fluid {
    margin-left: 8%;
  }
}

.white-background {
  background-color: $wh;
}

.mycontainer-fluid {
  @include flex;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.img-col {
  flex: 0 0 46%;
  max-width: 46%;
}

.text-col {
  flex: 0 0 26%;
  max-width: 26%;
  margin: 0 5%;
}

.list-col {
  flex: 0 0 10%;
  max-width: 10%;
}

.grey {
  padding-top: 104px;
  padding-bottom: 120px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: right;
  & .mycontainer-fluid {
      padding-right: 17%;
      justify-content: flex-start;
  }
  & .box {
    max-width: 630px;
    & .title {
      margin-bottom: 40px;
    }
    & p {
      margin-bottom: 40px;
    }
    & .subtitle {
      margin-bottom: 25px;
      font-size: 20px;
      font-weight: bold;
    }
    & a {
      font-size: 20px;
      font-weight: bold;
      color: $red;
      & i {
        margin-right: 8px;
        font-size: 20px;
        font-weight: bold;
        vertical-align: middle;
      }
    }
  }
}

.slider {
  padding: 150px 0;
  & .active {
    transition: all 0.25s ease-out;
    & .actbox {
      opacity: 1;
      display: block;
      height: auto;
      & .big {
        height: 350px;
      }
    }
    & .smwrap {
      display: none;
    }
  }
  & p {
    text-align: right;
  }
  & h4 {
    margin-top: 8px;
    margin-right: 1px;
    font-size: 16px;
    font-weight: 600;
    text-align: right;
    line-height: 21px;
    margin-bottom: 40px;
  }
  & span {
    font-weight: 400;
    font-size: 16px;
    color: $grey;
    text-align: right;
  }
  &-col {
    width: 100%;
    max-width: 1386px;
    position: relative;
    padding: 0 10%;
  }
  & .mycontainer-fluid {
    padding: 0 8%;
    justify-content: center;
  }
  & .title {
    text-align: right;
    padding-bottom: 60px;
  }
  & .actbox {
    opacity: 0;
    display: none;
    position: relative;
    & .big {
      height: 0;
    }
    & .slidetxtwrap {
      position: absolute;
      right: 175px;
      top: -13px;
      width: 376px;
      & p {
        font-weight: bold;
        font-size: 20px;
        text-align: right;
      }
    }
  }
  & .smwrap {
    max-width: 140px;
  }
  &__list {
    align-items: baseline;
    @include flex;
    & li {
      flex: 0 1 16%;
      margin-right: 7px;
      & a {
        position: relative;
        display: block;
        padding-bottom: 14px;
        border-bottom: 3px solid transparent;
        & + h4 {
          opacity: 0;
        }
        &:hover {
          transition: all 0.25s ease-out;
          opacity: 0.7;
          border-bottom: 3px solid #B1DFDD;
          & + h4 {
            transition: all 0.25s ease-out;
            opacity: 1;
          }
          &::after { 
            content: '';
            position: absolute;
            bottom: 28px;
            right: 26px;
            width: 20px;
            height: 20px;
            background-image: url("../../img/click.png");
          }
        }
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  & img {
    height: auto;
    max-width: 100%;
  }
}

.control {
  position: absolute;
  width: 41px;
  height: 41px;
  background-color: $red;
  @include flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: $wh;
  font-size: 17px;
  bottom: 25%;
  &.left {
    left: 0;
  }
  &.right {
    right: 0;
  }
}

.form {
  height: 465px;
  background-image: url("../../img/formbg.png");
  padding-top: 72px;
  padding-bottom: 90px;
  text-align: center;
  & .container {
    max-width: 1188px;
  }
  &__field {
    width: 100%;
    height: 30px;
    border: 0;
    background-color: transparent;
    border-bottom: 1px solid $wh;
    color: $wh;
    padding-left: 40px;
    padding-bottom: 15px;
    outline: none;
  }
  & .col-md-4:first-child {
    text-align: left;
  }
  & .col-md-4:last-child {
    text-align: right;
  }
  & .title {
    color: $wh;
    padding-bottom: 15px;
  }
  &__subt {
    color: $wh;
    padding-bottom: 51px;
  }
  & .email, & .user {
    position: relative;
    width: 252px;
  }
  & .user {
    margin: 0 auto;
  }
  & .email img {
    position: absolute;
    top: 5px;
    left: 16px;
  }
  & .user img {
    position: absolute;
    top: 3px;
    left: 16px;
  }

  & .btn {
    text-align: center;
    margin-top: 61px;
    & i {
      margin-right: 13px;
      padding-left: 0;
    }
  }
}