html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


body {
    font-size: 14px;
    min-width: 320px;
    line-height: 1.42857143;
    font-family: 'Sofia Pro', sans-serif;
    font-weight: normal;
    overflow-x: hidden;
    opacity: 1;
    font-smoothing: antialiased;
}

.wrapper {
    min-height: 100%;
    position: relative;
    overflow: hidden;
    //&:after {
    //    content: '';
    //    display: block;
    //    height: $footer-height;
    //}
}


img {
    max-width: 100%;
    height: auto;
}
.section {
    padding-bottom: 150px;
}
address {
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: #000000;
    &:hover,
    &:focus {
        outline: none;
        text-decoration: none;
        cursor: pointer;
    }
}

p {
    margin: 0;
    line-height: 30px;
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

i,
cite,
em,
var,
address,
dfn {
    font-style: normal;
}

dl,
dd {
    margin: 0;
}

* {
    box-sizing: border-box;
}

*::-webkit-input-placeholder {
    color: #fff!important;
    opacity: 1;
    text-transform: uppercase;
    font-size: 14px!important;
    text-align: right;
}

*:-moz-placeholder {
    color: #fff!important;
    opacity: 1;
    text-transform: uppercase;
    font-size: 14px!important;
    text-align: right;
}

*::-moz-placeholder {
    color: #fff!important;
    opacity: 1;
    text-transform: uppercase;
    font-size: 14px!important;
    text-align: right;
}

*:-ms-input-placeholder {
    color: #fff!important;
    opacity: 1;
    text-transform: uppercase;
    font-size: 14px!important;
    text-align: right;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
    color: #666;
}

body input:required:valid,
body textarea:required:valid {
    color: #666;
}

// Карта, забрати автоматичний тач
.map-wrap {
    position: relative;
}

.overlay-map {
    position: absolute;
    width: 100%;
    top: 0;
}

// Вставити цей код перед фреймом
//<div class="overlay-map" onclick="style.pointerEvents='none'"></div>
// Вставити clearfix
// @extend %clearfix;
